*{
    font-family: 'Griffy', cursive;
    
}
body{
    margin:0;
    padding:0; 
    background-color: #030204 !important ;
}

section{
    position: absolute;
    width:100%;
    top:20%;
    left:0;
    margin:0 auto;
    color: #fff;
}
.redondo{
    border-radius: 200px;
    background-image: url(../img/cat1.gif);
    background-size: cover;
    background-position: top;
    width: 40%;
    height: 250px;
}
#nombres , #juego ,#historial , #comentarios{
    display: none;
}
#bienvenido h1{
    margin-top: 5%;
    font-size: 56px;
    color: #29e9fd;
}
/*------------HTML----PRIMERA-PANTALLA--SALUDO---*/

.header-menu .navbar{
    background:white;
}
.header-menu .navbar ul li a{
    color:#000;
    font-size: 20px;
}
/*-------SECTION-INGRESE-SU-NOMBRE--------*/
#boton1 , #boton2 ,#boton3 , #reiniciar, #comentar {
    background:#ff001e;
    font-size: 30px;
    border-radius:7px;
    margin-top: 50px;
    
}
/*-------SECTION-INGRESE-SU-NOMBRE--------*/
#nombres{
    font-size:18px;
    text-align:center;
    display: none;
}
/*-------JUEGO--------TRES----EN----RAYA-------------*/
#juego{
    position:absolute;
    top:10%; 
    font-weight:bold;
    text-align:center;
    font-size:20px;
    
}
#juego h1{
    text-decoration:underline;
}
.table{
    border:3px solid #29e9fd;
}
.table td{
    border:3px solid #29e9fd;
    width:auto;
    height:100px;
}
/*------HTML----HISTORIAL-------*/
#historial{
    position:absolute;
    top:10%;
}
.comentar{
    color:#8d8de6;
    text-decoration:underline;
}
#historial ul li , #comentarios ul li {
    border:3px solid #29e9fd;
    font-size:15px;
    list-style:none;
    margin:10px0px;
    padding:10px;
    font-weight:bold;
    margin: 10px 0px;
    color: #333;
}
/*------HTML----COMENTARIOS----------*/
#comentarios{
    position:absolute;
    top:10%;
    font-weight:bold;
}
#comentarios .btn{
    color: black;
    font-weight: bold;
}
