*{
    outline: 1px solid pink;
    font-family: cursive;
}
body{
    margin: 0;
    padding: 0;
}
/*---------------------INDEX---HTML--PRIMERA---PAGINA-------------*/
.index-header{
    box-sizing: border-box;
    padding: 10px;
}
.index-header ul li a {
    font-size: 20px;
    text-decoration: underline;
}
.index-header ul .li {
    border-left: 2px solid black; 
}
.index-header .gato-loco{
   padding-top:11em;
}
.index-header button{
    margin-top:11em;
    background: none;
    border:4px solid black;
    font-weight: 600;
    font-size: 20px;
}