/*---------CSS----GENERAL----PARA----TODO*/
*{
    outline: 1px solid pink;
    font-family: cursive;
}
body{
    margin:0;
    padding:0;
}
/*------------HTML----PRIMERA-PANTALLA--SALUDO---*/
section{
    position: absolute;
    width:100%;
    top:50%;
    left:0;
    margin:0 auto;
}
#nombres , #juego{
    display: none;
}